@import '../variables.scss';

    .container {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        
        grid-template-areas: 
          ". . ."
          ". . ."
          ". . ."; 
        background-color: $main-background;
        width: $width;
        height: calc($height - calc(2*($height)/10) );
        
      }
