@import '../variables.scss';
@import './mixins/header-footer.scss';
@import '../components/mixins/buttons.style.scss';





 
.header {
    
    @include header-footer;
    position: relative;
    span {
        color:  $text-color;
        text-decoration: none;
        text-transform: uppercase;
        order: 0;

        
        }

    .abort{
        @include button;
        position: absolute;
        right: 0;
        background-color : transparent;
        color: $abort-button;    
        text-decoration: underline;
        }
}