@import '../variables.scss';
.o{ 
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: radial-gradient(ellipse at     center, 
    rgba(255,113,12,0) 50%,
    rgba($o-color,1) 50%);

    &.o-game {
        height: 50%;
        width: 50%;
    }


}

.o-token-footer {
    height: $header-footer-height;
    width: $header-footer-height;
}

